<!--a form where users can input the name of a famous person.
It provides an interface for users to submit their query to the serve-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biometric Scraper</title>
</head>
<body>
    <h2>Enter the name of a famous person:</h2>
    <form action="/search" method="post">
        <input type="text" name="person" required>
        <input type="submit" value="Search">
    </form>
</body>
</html>
